.section {
  padding: 80px 20px;
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.heading {
  font-family: var(--font-heading);
  font-size: var(--fs-3xl);
  font-weight: var(--fw-semibold);
  line-height: 66px;
  color: var(--color-brown);
}

.marquee {
  margin-top: 50px;
  width: 100dvw;
  overflow: hidden;
}

.swiperSlide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}

@media (max-width: 768px) {
  .heading {
    font-size: 36px;
    line-height: 44px;
  }
}
